DEV_KC_URL=https://dev.sandbox.loginproxy.gov.bc.ca
DEV_KC_USERNAME=
DEV_KC_PASSWORD=
TEST_KC_URL=https://test.sandbox.loginproxy.gov.bc.ca
TEST_KC_USERNAME=
TEST_KC_PASSWORD=
PROD_KC_URL=https://sandbox.loginproxy.gov.bc.ca
PROD_KC_USERNAME=
PROD_KC_PASSWORD=
