DEV_KC_URL=https://dev.sandbox.loginproxy.gov.bc.ca
DEV_KC_USERNAME=
DEV_KC_PASSWORD=
TEST_KC_URL=https://test.sandbox.loginproxy.gov.bc.ca
TEST_KC_USERNAME=
TEST_KC_PASSWORD=
PROD_KC_URL=https://sandbox.loginproxy.gov.bc.ca
PROD_KC_USERNAME=
PROD_KC_PASSWORD=

# backfill-users.js
PG_HOST=
PG_PORT=5432
PG_USER=
PG_PASSWORD=
PG_DATABASE=
PG_SSL=
MS_GRAPH_API_AUTHORITY=
MS_GRAPH_API_CLIENT_ID=
MS_GRAPH_API_CLIENT_SECRET=
